In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as datetime
%matplotlib inline

In [2]:
df = pd.concat(pd.read_excel('phone-data.xlsx', sheet_name= None), ignore_index=True)

In [3]:
df['date'] = pd.to_datetime(df['date'],format="%Y/%m/%d")

ValueError: time data 11/11/190. doesn't match format specified

In [ ]:
df.dtypes

In [ ]:
df.head(95)

In [ ]:
phone_dict = df['Anonymous Bank Call-Center Data']

In [ ]:
phone_dict.head(95)

In [ ]:
phone_dict=phone_dict.drop((94,444541),inplace=True)

In [ ]:
phone_dict

In [77]:
del df['Anonymous Bank Call-Center Data']

In [78]:
df = df.drop(range(0,93))

In [79]:
df = df.drop((93))

In [80]:
df.reset_index()

,index,vru+line,call_id,customer_id,priority,type,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,outcome,ser_start,ser_exit,ser_time,server
0,94,AA0101,33116.0,9664491.0,2,PS,1999-01-01 00:00:00,00:00:31,00:00:36,5,00:00:36,00:03:09,153,HANG,00:00:00,00:00:00,0,NO_SERVER
1,95,AA0101,33117.0,0.0,0,PS,1999-01-01 00:00:00,00:34:12,00:34:23,11,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER
2,96,AA0101,33118.0,27997683.0,2,PS,1999-01-01 00:00:00,06:55:20,06:55:26,6,06:55:26,06:55:43,17,AGENT,06:55:43,06:56:37,54,MICHAL
3,97,AA0101,33119.0,0.0,0,PS,1999-01-01 00:00:00,07:41:16,07:41:26,10,00:00:00,00:00:00,0,AGENT,07:41:25,07:44:53,208,BASCH
4,98,AA0101,33120.0,0.0,0,PS,1999-01-01 00:00:00,08:03:14,08:03:24,10,00:00:00,00:00:00,0,AGENT,08:03:23,08:05:10,107,MICHAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444443,444537,AA0216,17211.0,0.0,0,IN,1999-12-31 00:00:00,13:46:51,13:47:04,13,00:00:00,00:00:00,0,AGENT,13:47:03,13:56:16,553,Z2ELINOR
444444,444538,AA0216,17212.0,0.0,0,IN,1999-12-31 00:00:00,13:58:31,13:58:40,9,13:58:40,13:59:49,69,HANG,00:00:00,00:00:00,0,NO_SERVER
444445,444539,AA0216,17213.0,0.0,0,IN,1999-12-31 00:00:00,17:10:51,17:11:12,21,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER
444446,444540,AA0216,17214.0,0.0,0,IN,1999-12-31 00:00:00,18:30:19,18:30:54,35,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER
444447,444541,AA0216,17215.0,0.0,0,IN,1999-12-31 00:00:00,22:23:35,22:23:45,10,00:00:00,00:00:00,0,HANG,00:00:00,00:00:00,0,NO_SERVER

In [65]:
df['date'].sample(100)

260086             08/09/1999
6577               01/04/1999
165961             05/06/1999
276693             08/10/1999
424528    1999-12-10 00:00:00
                 ...
400405             11/11/1999
235046             07/21/1999
187362             06/01/1999
26506              01/03/1999
441801    1999-12-20 00:00:00
Name: date, Length: 100, dtype: object

In [84]:
df['date'] = pd.to_datetime(df['date'],format="%Y/%m/%d")

ValueError: time data 11/11/190. doesn't match format specified

In [67]:
df['date'] = df.date.apply(
    lambda x: pd.to_datetime(x).strftime('%m/%d/%Y')[0])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 190-11-11 00:00:00

In [ ]:
df['date']

In [68]:
pd.to_datetime(date_col_to_force, errors = 'coerce')

NameError: name 'date_col_to_force' is not defined

In [70]:
df['date'].apply(lambda x: datetime.datetime.strptime(x, '%m/%d/%Y %H:%M:%S') if type(x)==str else np.NaN)

ValueError: time data '01/01/1999' does not match format '%m/%d/%Y %H:%M:%S'

In [82]:
df.sample(200)

,vru+line,call_id,customer_id,priority,type,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,outcome,ser_start,ser_exit,ser_time,server
265203,AA0201,43426.0,25213869.0,1,PS,1999-08-02 00:00:00,23:10:39,23:10:45,6,23:10:45,23:13:28,163,HANG,00:00:00,00:00:00,0,NO_SERVER
270749,AA0203,46323.0,0.0,0,NW,1999-08-15 00:00:00,16:47:31,16:47:41,10,16:47:41,16:48:48,67,HANG,00:00:00,00:00:00,0,NO_SERVER
137304,AA0102,34916.0,0.0,0,NW,1999-05-04 00:00:00,16:10:13,16:10:23,10,16:10:23,16:10:36,13,HANG,00:00:00,00:00:00,0,NO_SERVER
81335,AA0113,6740.0,55568687.0,2,PS,1999-03-17 00:00:00,19:40:10,19:40:16,6,19:40:16,19:40:20,4,HANG,00:00:00,00:00:00,0,NO_SERVER
328266,AA0103,38176.0,0.0,0,NW,1999-10-21 00:00:00,11:15:13,11:15:22,9,11:15:22,11:15:46,24,AGENT,11:15:44,11:16:48,64,ANAT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303292,AA0110,39714.0,57252942.0,2,PS,1999-09-13 00:00:00,07:26:35,07:26:41,6,07:26:41,07:26:56,15,AGENT,07:26:55,07:28:00,65,GILI
212656,AA0215,21276.0,27922665.0,2,PS,1999-06-16 00:00:00,14:59:15,14:59:21,6,14:59:21,15:02:33,192,AGENT,15:02:32,15:06:37,245,STEREN
324029,AA0215,25792.0,0.0,0,PS,1999-09-24 00:00:00,08:33:42,08:33:54,12,00:00:00,00:00:00,0,AGENT,08:33:53,08:59:55,1562,ANAT
380583,AA0202,51415.0,0.0,0,PS,1999-11-10 00:00:00,20:10:32,20:10:44,12,00:00:00,00:00:00,0,AGENT,20:10:43,20:13:30,167,VICKY
169281,AA0213,19154.0,54042171.0,2,NE,1999-05-02 00:00:00,12:41:18,12:41:23,5,12:41:23,12:42:00,37,AGENT,12:41:59,12:45:54,235,TOVA